@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --button: #2196F3;
    --section2-title: #212121;
    --header-number: #757575;
    --footer: #2F303A;
    --section3: #F5F4FA;
    --section1-title: #FFF;
    --footer-email: rgba(255, 255, 255, 0.60);
}

body {
    font-family: "Roboto";
}

.logo {
    font-family: "Raleway";
}

.logo {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.header-link {
    color: var(--section2-title);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.header-email {
    color: var(--button);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.header-number {
    color: var(--header-number);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.section1-title {
    color: var(--section1-title);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

button {
    color: var(--section1-title);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.section2-name {
    color: var(--section2-title);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.section2-text {
    color: var(--header-number);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.section2-title {
    color: var(--section2-title);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.section3-title {
    color: var(--section2-title);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.section3-name {
    color: var(--section2-title);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.section3-text {
    color: var(--header-number);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.footer-address {
    color: var(--section1-title);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-email {
    color: var(--footer-email);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-number {
    color: var(--footer-email);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

header {
    background-color: var(--section1-title);
}

button {
    background-color: var(--button);
}

.section1 {
    background-color: var(--footer);
}

.section2 {
    background-color: var(--section1-title);
}

.section3 {
    background-color: var(--section3);
}

footer {
    background-color: var(--footer);
}


header {
    width: 1600px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 auto;

}

header .logo {
    margin-left: 215px;
}

.header-list {
    display: flex;
    width: 281px;
    height: 16px;
    justify-content: space-between;
    margin-left: 93px;
    margin-right: 344px;
}

.header-number {
    margin-left: 50px;
    margin-right: 215px;
}


.section1 {
    height: 600px;
    padding-top: 200px;
}

button {
    padding: 10px 35px;
    display: flex;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
}

.section1-title {
    display: flex;
    margin: 0 auto;
    width: 696px;
    height: 120px;
    text-align: center;
    margin-bottom: 30px;
}


.main-div {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;

    margin-bottom: 94px;
    margin-top: 50px;
}

.section2-title {
    text-align: center;
}

.section2-list {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 94px;
    margin-bottom: 94px;
}

.section2-list .section2-item {
    width: 270px;
}

.section2-name {
    margin-bottom: 10px;
}

.section3 {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section3-list {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.section3-list li {
    width: 270px;
    background-color: var(--section3);
    height: 368px;
}

.section3-list h6 {
    padding-top: 30px;
    text-align: center;
}

.section3-list p {
    padding-top: 10px;
    text-align: center;
}

.section3-title {
    text-align: center;
    margin-bottom: 50px;
}

footer {
    height: 252px;
    padding-top: 60px;
}

.footer-list {
    display: flex;
    width: 231px;
    height: 81px;
    margin-top: 20px;
    align-content: space-between;
    flex-wrap: wrap;
}

.footer-div {
    width: 1170px;
    margin: 0 auto;
}

.header-span{
    color: var(--button);
}

.header-span-black{
    color: var(--section2-title);
}

.header-span-white{
    color: var(--section1-title);
}